// Colors
$color-primary: #171721;
$color-white: #ffffff;
$color-secondary: #7a7a7a;
$color-yellow: #f6c000;
$color-pink: #ff7070;
$color-orange: #eb7100;
$color-blue: #0067DD;
$color-green: #2fc10b;
$color-border: #e6e6e6;
$color-text: #536172;

// Font-size
$small-medium: 0.875rem;
$medium-size: 1rem;
$medium-large: 1.25rem;
$large: 3.5rem;
$very-large: 4rem;
